$colors: (
	primary: #41aa36,
	greenSecondary: #66cc33,
	gray: #585858,
	graySecondary: #878787,
	white: #ffffff,
	black: #000000,
);

$fonts: (
	bold-champagne: 'Champagne&Limousines-Bold',
	regular-champagne: 'Champagne&Limousines',
	italic-champagne: 'Champagne&Limousines-Italic',
	bold-italic: 'Champagne&Limousines-Bold-Italic',
);
$sizes: (
	small: 12px,
	medium: 14px,
	medium15: 15px,
	medium16: 16px,
	medium18: 18px,
	medium20: 20px,
	medium22: 22px,
	medium25: 23px,
	large: 24px,
	large25: 24px,
	large29: 29px,
	large30: 30px,
	large35: 34px,
	large36: 36px,
	large40: 40px,
	large48: 48px,
	large54: 54px,
);